
{% extends "base.html" %}

{% block contenido %}

<h2>Productos</h2>

<a href="/crear-producto/" class="btn btn-success mb-3">
Agregar producto
</a>

<div class="row">

{% for producto in productos %}

<div class="col-md-4">

<div class="card mb-4 shadow-sm">

<div class="card-body">

<h5 class="card-title">
{{ producto.nombre }}
</h5>

<p>{{ producto.marca }}</p>

<p>$ {{ producto.precio }}</p>

<a href="/editar-producto/{{producto.id}}/" class="btn btn-warning">
Editar
</a>

<a href="/eliminar-producto/{{producto.id}}/" class="btn btn-danger">
Eliminar
</a>

</div>

</div>

</div>

{% endfor %}

</div>

{% endblock %}